.pure-g [class*="pure-u"] {
    font-family: "Helvetica Neue","Segoe UI","Helvetica","Arial","sans-serif";
    font-size: 13px;
    color: #444;
}

a, .pure-table th {
    color: #236a97;
}



.pure-table td, .pure-table th {
    text-align: right;
}

.pure-table-odd td {
    background-color: #f5f5f5;
}

.pure-table {
    border: 1px solid #e0e0e0;
}

.pure-table td, .pure-table th {
    border: 0px;
}

.pure-table thead {
    background-color: rgba(0, 0, 0, 0);
}

.table-row-status-ok {
    background-color: rgb(239, 255, 219);
}

.table-row-status-warn {
    background-color: rgb(237, 178, 130);
}

.table-row-status-error {
    background-color: rgb(255, 86, 86);
}

